= form_for(@device) do |f|
  - if @device.errors.any?
    #error_explanation
      %h2
        = pluralize(@device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - @device.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :ip_address
    %br/
    = f.text_field :ip_address, class: 'form-control'
  .form-group
    = f.label :device_type
    %br/
    = f.collection_select :device_type_id, DeviceType.all, :id, :name, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success'

