%p#notice= notice
%h1 Listing Devices
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Ip Address
      %th Device Type
      %th Controls
      %th Actions
  %tbody
    - @devices.each do |device|
      %tr
        %td= device.name
        %td= device.ip_address
        %td
          = link_to device.device_type.name, edit_device_type_path(device.device_type)
        %td
          - device.device_type.control_items.each do |control_item|
            = control_item.name
            |
            = device.control_value_for(control_item)
            %br/
        %td
          .btn-group{role: 'group'}
            = link_to 'Show', device, class: 'btn btn-info'
            = link_to 'Edit', edit_device_path(device), class: 'btn btn-success'
            = link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.pull-right
  = link_to new_device_path, class: 'btn btn-success' do
    %span.glypicon.glyphicon-plus
    Add new device
