= form_for(@control) do |f|
  - if @control.errors.any?
    #error_explanation
      %h2
        = pluralize(@control.errors.count, "error")
        prohibited this control from being saved:
      %ul
        - @control.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :kind
    %br/
    = f.text_field :kind, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success'
