%p#notice= notice
%h1 Controls
%table.table.table-stripped
  %thead
    %tr
      %th Kind
      %th Actions
  %tbody
    - @controls.each do |control|
      %tr
        %td= control.kind
        %td
          .btn-group{role: 'group'}
            = link_to 'Show', control, class: 'btn btn-info'
            = link_to 'Edit', edit_control_path(control), class: 'btn btn-success'
            = link_to 'Destroy', control, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.pull-right
  = link_to new_control_path, class: 'btn btn-success' do
    %span.glypicon.glyphicon-plus
    Add new control
