%p#notice= notice
%h1 Controls
.help-message
  %span.glyphicon.glyphicon-info-sign
  Those acts as Control Templates - any defined Control Kind in this section will be available
  as an option during adding Controls on Device Types. As those are templates the Control Kind is
  copied to Control in Device Type therefore removing editing Control Template does not affect
  Controls already defined in Device Type (editing/removing Control Templates does not affect global
  state)
%table.table.table-striped
  %thead
    %tr
      %th Kind
      %th Actions
  %tbody
    - @controls.each do |control|
      %tr
        %td= control.kind
        %td
          .btn-group{role: 'group'}
            = link_to 'Show', control, class: 'btn btn-info'
            = link_to 'Edit', edit_control_path(control), class: 'btn btn-success'
            = link_to 'Destroy', control, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.pull-right
  = link_to new_control_path, class: 'btn btn-success' do
    %span.glypicon.glyphicon-plus
    Add new control
