<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @control.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @control.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @control.value %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
