.nested-fields
  .field
    = f.label :kind
    %br
    = f.collection_select :kind, Control.all, :kind, :kind
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :value
    %br
    - if f.object.slider?
      = f.range_field :value, in: 1..100
    - else
      = f.text_field :value
  = link_to_remove_association "remove control", f
