= form_for(@device_type) do |f|
  - if @device_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@device_type.errors.count, "error")
        prohibited this device_type from being saved:
      %ul
        - @device_type.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :api
    %br/
    = f.text_field :api, class: 'form-control'
  %hr

  %h4 Controls
  .help-message
    %span.glyphicon.glyphicon-info-sign
    Each control has a value filed which has different meaning depending on control kind:
    %ul
      %li for slider the value is the numeric
      %li for select it is a comma separated string of available options
      %li for button it is a button label visible for front end user

  #control-items
    = f.fields_for :control_items do |control_item|
      = render 'control_item_fields', f: control_item
    .links.pull-right
      - if Control.any?
        = link_to_add_association f, :control_items, class: 'btn btn-info' do
          %span.glyphicon.glyphicon-plus
          Add control
      - else
        .btn.btn-info.disabled
          %span.glyphicon.glyphicon-plus
            Add control
        %br/
        %span
          You need to add at least one Control Type (in
          = link_to 'Control Tab', controls_path
          ) in order to create Control Items
  %br/
  .actions
    = f.submit 'Update', class: 'btn btn-success'
