= form_for(@device_type) do |f|
  - if @device_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@device_type.errors.count, "error")
        prohibited this device_type from being saved:
      %ul
        - @device_type.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :api
    %br/
    = f.text_field :api
  %h3 Controls
  #control-items
    = f.fields_for :control_items do |control_item|
      = render 'control_item_fields', f: control_item
    .links
      = link_to_add_association 'add control', f, :control_items
  .actions
    = f.submit
