%h1 Device Types
%table.table.table-stripped
  %thead
    %tr
      %th Name
      %th Api
      %th Actions
  %tbody
    - @device_types.each do |device_type|
      %tr
        %td= device_type.name
        %td= device_type.api
        %td
          .btn-group{role: 'group'}
            = link_to 'Show', device_type, class: 'btn btn-info'
            = link_to 'Edit', edit_device_type_path(device_type), class: 'btn btn-success'
            = link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.pull-right
  = link_to new_device_type_path, class: 'btn btn-success' do
    %span.glypicon.glyphicon-plus
    Add device type
