%h1 Device Types
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Controls
      %th Devices
      %th Actions
  %tbody
    - @device_types.each do |device_type|
      %tr
        %td= device_type.name
        %td
          = render 'controls_table', device_type: device_type
        %td
          %ul
            - device_type.devices.each do |device|
              %li
                = link_to device.name, edit_device_path(device)
        %td
          .btn-group{role: 'group'}
            = link_to 'Show', device_type, class: 'btn btn-info'
            = link_to 'Edit', edit_device_type_path(device_type), class: 'btn btn-success'
            = link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.pull-right
  = link_to new_device_type_path, class: 'btn btn-success' do
    %span.glypicon.glyphicon-plus
    Add device type
