%p
  %strong Name:
  = @device_type.name
%p
  %strong Api:
  = @device_type.api

%h3 Controls
%table.table.table-stripped
  %thead
    %tr
      %th Kind
      %th Name
      %th Value
  %tbody
    - @device_type.control_items.each do |control_item|
      %tr
        %td= control_item.kind
        %td= control_item.name
        %td= control_item.value
      %br/
= link_to 'Edit', edit_device_type_path(@device_type)
|
= link_to 'Back', device_types_path
