<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device_type.name %>
</p>

<p>
  <strong>Api:</strong>
  <%= @device_type.api %>
</p>

<%= link_to 'Edit', edit_device_type_path(@device_type) %> |
<%= link_to 'Back', device_types_path %>
