= form_for(@device_type) do |f|
  - if @device_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@device_type.errors.count, "error")
        prohibited this device_type from being saved:
      %ul
        - @device_type.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, class: 'form-control'
  %hr

  %h4 Controls
  .help-message
    %span.glyphicon.glyphicon-info-sign
    Value has following meaning:
    %ul
      %li for select it is a comma separated string of available options
      %li for button it is not used
      %li for slider it is not used

  #control-items
    = f.fields_for :control_items do |control_item|
      = render 'control_item_fields', f: control_item
    .links.pull-right
      = link_to_add_association f, :control_items, class: 'btn btn-info' do
        %span.glyphicon.glyphicon-plus
        Add control
  %br/
  .actions
    = f.submit 'Save', class: 'btn btn-success'
