%td
  = control_item.kind.capitalize
%td
  = control_item.name
%td
  = select_tag("device[controls_state][#{control_item.name.parameterize}]", options_for_select(control_item.select_options, control_item_value))
%td
  = control_item.api_endpoint
